
body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}
  
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

hr{
    border: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 0;
}

img{
    height: 150px;
    width: auto;
    margin: 2px;
}

article {
    margin-bottom: 30px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    padding: 20px;
}

main{
    margin: 30px 100px;
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 0px;
}
  

h2{
    text-align: justify;
    padding: 10px;
}

p{
    text-align: justify;
    padding: 10px;
}

div{
    text-align: center;
}
  
a {
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

ul{
    text-align: left;
}

a:hover {
    background-color: #555;
}